name: TrMenu Dev

on:
  push:
  pull_request:

jobs:
  releaseJar:
    runs-on: ubuntu-latest
    if: "github.actor != 'dependabot[bot]'"
    steps:
      - uses: actions/checkout@main
      - name: set up JDK 8
        uses: actions/setup-java@main
        with:
          java-version: 8
          distribution: temurin

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Build with Gradle * 2
        run: ./gradlew build

      - name: Upload TrMenu
        if: "github.event_name != 'pull_request'"
        uses: marvinpinto/action-automatic-releases@master
        with:
          title: "TrMenu"
          automatic_release_tag: "trmenu"
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          files: "build/libs/*.jar"
          prerelease: true
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4.4.3
        with:
          name: TrMenu Artifact
          path: build/libs/*.jar
